.nav {
    background-color: rgb(5, 6, 45);
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
    font-size: 150%;
    padding-left: 50px;
    padding-right: 50px;

    margin: 30px;
    border: 3px solid transparent;
    border-image: initial;
    border-image-source: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    border-image-slice: 1;
    border-image-repeat: stretch;
    border-image-width: 3px;
}

/* Barre de nav gauche */
.navGauche {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navGauche li {
    display: inline;
    margin-right: 50px ;
}

.navGauche a{
    text-decoration: none;
    color:white;
}

/* Barre de nav droite */
.navDroite {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navDroite li {
    display: inline;
    margin-left: 50px;
}

.navDroite a {
    text-decoration: none;
    color: #fff;
}
  
img{
  scale: 0.7;
}
h1{
  margin-left: 30px;
}

body{
    color:rgb(255, 255, 255);
    background-color:black;
    font-family: "Lucida Console", "Courier New", monospace;
    width: 1100px;
    margin: auto;
    }

.body{

  background-color:rgb(5, 6, 45);
  margin: 30px;
border: 3px solid transparent;
border-image: initial;
border-image-source: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
border-image-slice: 1;
border-image-repeat: stretch;
border-image-width: 3px;
}

footer{
    background-color: rgb(5, 6, 45);
    color:rgb(255, 255, 255);
    height: 100px;
    display: flex;
    margin: auto;
    width: 1035px;

    font-size: 20px;
    align-items: center;
    justify-content: center;

    border: 3px solid transparent;
border-image: initial;
border-image-source: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
border-image-slice: 1;
border-image-width: 3px;
}

/* Bouton */


/* Barre de recherche */




.input-wrapper {
    display: flex;
    
  }
  
  .input-box {
    font-size: 100%;
    padding: 10px 0;
    width: 300px;
    border:none;
    border-bottom: 2px solid #bdbdbd;
    color: #3dc222;
    background-color:rgb(5, 6, 45);
    transition: border-color 0.3s ease-in-out;
    
  }
  
  .underline {
    width: 100px;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .input-box:focus {
    border-color: rgb(56, 221, 92);
    outline: none;
  }
  
  .input-box:focus + .underline {
    transform: scaleX(1);
  }





  .box1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 5px;
    max-height: 500px;
    margin: auto;
  }
  .box1 :nth-child(2){
    align-self: center;
  }
  .box1 :nth-child(4) {
    align-self: center;
    margin-top: 150px;
  }
  .box2 {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 50px;
    
  }









  .counter {
    scale: 1.5;
      width: 150px;
      display: inline-flex;
      margin: auto;
      align-items: center;
      justify-content: center;
      border: solid 1px black;
      border: 1px solid transparent;
      border-image: initial;
      border-image-source: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
      border-image-slice: 1;
      border-image-repeat: stretch;
      border-image-width: 1px;
  }
  .counter input {
      width: 50px;
      border: 0;
      line-height: 30px;
      font-size: 20px;
      text-align: center;
      background: transparent;
      color: #ffffff;
      appearance: none;
      outline: 0;
  }
  .counter span {
      display: block;
      font-size: 25px;
      padding: 0 10px;
      cursor: pointer;
      color: #ffffff;
      user-select: none;
  }







  .btn-conteiner {
    scale: 0.5;
    display: flex;
    --color-text: #ffffff;
    --color-background: #ff135a;
    border: 1px solid transparent;
    border-image: initial;
    border-image-source: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    border-image-slice: 1;
    border-image-repeat: stretch;
    border-image-width: 3px
    margin:auto;
    width: 300px;
    height: 70px;
    text-align: center;
    justify-content: center;
    
  }
  
  .btn-content {
    display: flex;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
  }
