body{
    margin: 0%;
}

.navbar{
    background-color: black;
    color: white;
    width: auto;
    height: 60px;
    border-bottom: 3px solid gray;
}



.text1{
    background-color: black;
    color: white;
}

.rond {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%; /* Utilise le border-radius pour créer un cercle */
}


.nft{
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 80px;
    color: black;
}

.section_nft{
    padding: 40px 5%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
}

.produit{
    display: grid;
    margin-left: 200px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.produit .carte{
    width: 310px;
    overflow: hidden;
    width: 310px;
    background-color: #f5f5f5;
    bottom: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}


.produit .carte img{
    width: 310px;
    height: 310px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.produit .carte .desc{
    padding: 5px 20px;
    opacity: 0.7;
}
.produit .carte .titre{
    font-weight: 900;
    font-size: 20px;
    color: black;
    padding: 0 20px;
}
.produit .carte .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2Opx;
    
}

.produit .carte .prix{
    padding: 5px 20px;
}

.produit .carte .achat{
position:static ;
margin: 0px 20px 20px 0px;
font-weight: 0;
font-size: 14px;
color: #fff;
background-color: #0066CC;
padding: 10px 18px;
border: solid #000000 1px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
transition : 460ms;
transform: translateY(0);
cursor: pointer;

}

.produit .carte .achat:hover{

transition : 460ms;
background-color: #f5f5f5;
color: #0066cc;
border: solid 1px black;
}

.section_read {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

.voir_plus {
    text-align: center;
}
.button_read{
    position:static ;
    margin: 0px 20px 20px 0px;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 18px;
    border: solid #000000 1px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    transition : 460ms;
    transform: translateY(0);
    cursor: pointer;
}

.button_read:hover{

    transition : 460ms;
    background-color: #f5f5f5;
    color: #0066cc;
    border: solid 1px black;
}



.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: .5s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s all ease;
}

.filters{
    width: 20px;
}

.filters .titre{
    color: #0066CC;
}

.filters .button{

}

.filters .para{

}

.filters .checkbox{
    flex-direction: column;
    display: flex;
    width: 20px;
}